/**
 * CSS Tables
 */
.table { display: table; }
.table > * { display: table-row; }
.table > * > * { display: table-cell;}

.table.top > * > *, .table > * > *.top { vertical-align: top; }
.table.middle > * > *, .table > * > *.middle { vertical-align: middle; }
.table.bottom > * > *, .table > * > *.bottom { vertical-align: bottom; }
