/**
 * CSS Tables
 */
.table { display: table; }
.table > * { display: table-row; }
.table > * > * { display: table-cell;}


.table.top > * > *, .table > * > *.top { vertical-align: top; }
.table.middle > * > *, .table > * > *.middle { vertical-align: middle; }
.table.bottom > * > *, .table > * > *.bottom { vertical-align: bottom; }


/**
 * Text align: left, right, center and justify
 */
.left { text-align: left; }
.right { text-align: right; }
.center { text-align: center; }
.justify { text-align: justify; }


/**
 * The element (or all elements inside of .allleft) floats to the left
 */
.fleft, .allright > .fleft, .allleft > * { float: left; }


 /**
  * The element (or all elements inside of .allright) floats to the right
  */
.fright, .allleft > .fright, .allright > * { float: right; }


/**
 * Vertical align of the content without tables
 */
.flex {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}


/**
 * Horizontal alignment for flex (text-align doesn't work)
 */
.flex.left { justify-content: left; }
.flex.right { justify-content: right; }
.flex.center { justify-content: center; }


/**
 * Round borders
 */
.radius: {
	border-radius: 5px;
}


/**
 *
 */
.circle { border-radius: 50%; }


/**
 * Adapts to the container's size, but never more than the image size
 */
img.responsive {
    max-width: 100%;
    height: auto;
    display: block;
}


/**
 * Position
 */
.static { position: static; }
.relative { position: relative; }
.absolute { position: absolute; }
.fixed { position: fixed; }


/**
 * Hides an element
 */
.hide { display: none; }


/**
 * Removes borders
 */
.no-bl { border-left: 0; }
.no-br { border-right: 0; }
.no-bt { border-top: 0; }
.no-bb { border-bottom: 0; }
.no-borders { border: 0;}


/**
 * Full size element
 */
.full {	width: 100%; }
